@import 'components/progress-line/progress-line.scss';

body {
	.container {
		padding: 10px;
		position: relative;
		top: $progress-bar-height;
		z-index: 1;
	}
}

.random-text {
	padding-top: 20px;

	&:first-child{
		padding-top: 0;
	}
}
