$main-color-dark: #222222;
$main-color-light: #f4f4f4;

// Light theme colors
$background-color-light-theme: $main-color-light;
$background-color-dark-theme: $main-color-dark;

// Dark theme colors
$font-color-light-theme: $main-color-dark;
$font-color-dark-theme: $main-color-light;
